/* Set default values*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

html, body{
    height: 100%;
}

/* ----- NAVIGATION BAR ----- */
nav{
    padding: 20px;
}

nav ul{
    overflow: hidden;
    list-style: none;
    float: right;
}

nav ul li{
    float: left;
    text-align: center;
}

nav ul li a{
    color: #000;
    display: block;
    padding: 5px 8px;
    font-size: 13px;
}

li#btn1{
    background-image: url("../images/appicon.png");
    background-size: cover;  
    width: 25px;
    height: 25px;
}

li[id]{
    margin: 0 10px;
}

li#btn2{
    background-image: url("../images/bellicon.png");
    background-size: cover;  
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

li#btn3{
    background-image: url("../images/usericon.png");
    background-size: cover;  
    width: 25px;
    height: 25px;
}

/* ----- LINKS GENERAL BEHAVIOUS ----- */

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* ----- MAIN INFO ----- */

div.middle {
    clear: both;
    width: 700px;
    text-align: center;
    margin: 150px auto 0;

}

div.middle div img{
    display: block;
    width: 320px;
    margin: auto;
    padding: 0 0 25px 0;
}

div.searchbar input[type="text"]{
    width: 600px;
    height: 45px;
    margin: 0px auto;
    border-radius: 0px;
    border: 1px solid #cecece;
    padding: 2px 15px;

    /*sombra del searchbar*/
    box-shadow: 0px 4px 5px 0px #e6e6e6;
}

div.searchbar input[type="text"]:hover{
    /*sombra del searchbar*/
    box-shadow: 0px 4px 7px 2px #e6e6e6;
}

div.searchbar div, div.middle div p{
    padding: 0 0 25px 0;
}

/*
div.middle div p{
    padding: 0 0 40px 0; /*Solved footer overlapping everything else when the screen gets 
    smaller, had to put the "Ofrecido por Google en:" inside div.searchbar, so the footer 
    kind of "hits" the div*/

    /*Found a better solution, described in footer*/ /*
}
*/

div.middle div.buttons{
    width: 100%px;
    margin: auto;
}

div.buttons input{
    margin: 0px 4px;
    padding: 0 15px;
    height: 36px;
    line-height: 26px;
    border-radius: 0px;
    border: 0px;
    background-color: #f1eded;

    /* font style*/
    color: #717179;
    font-size: 13px;
    font-weight: 600;
}

div.buttons input:hover{
    background-color: #f0f0f0;
    outline: solid 1px #acacac;
    color: #000;
}

div.middle div p{
    font-size: 13px;
}

/* ----- FOOTER ----- */

/*This is part of keeping the footer at the bottom*/
#container{
    /* THIS solves the need to have a space for the footer, 
    better than using margin-top when min-heignt is 100%*/
    min-height: calc(100% - 85px);
    position: relative;
}

#main{
    overflow: auto;
}

/*Footer at the bottom*/

footer{
    background-color: #f2f2f2;
    
    /*Footer at the bottom*/
    position: absolute; /* Without this, the footer ends BEHIND 
    the container, can't click on links*/
    height: 85px;
    width: 100%;
}

footer div.left{
    float: left;
}

footer div.right{
    float: right;
}

footer > div{
    padding: 0px 30px;
    border-top: 1px solid #e4e4e4;
}

footer div.right a{
    padding: 0px 0px 0px 20px;
}

footer div.left a{
    padding: 0px 20px 0px 0px;
}

footer div p{
    font-size: 14px;
}

footer a, footer p{
    color: #717179;
    line-height: 40px;
}

footer a{
    font-size: 13px;
}

